/* components/banner/index.scss */
.swiper-container {
    height: var(--swiper-height, 500rpx);
    width: 100%;
    .swiper-item {
        width: 100%;
        .swiper-item-link-to,
        .swiper-item-image {
            width:100%;
            height:100%;
        }
        .swiper-item-link-to {

        }
        .swiper-item-image {

        }
    }
    .wx-swiper-dots {
        left: auto!important;
        right:0!important;
        bottom: var(--dots-bottom, 20rpx) !important;
        .wx-swiper-dot-active {
            width: 64rpx !important;
            border-radius:6rpx !important;
        }
    }
}